### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
### MongoDB over SQL databases?

### Answer - 1

### MongoDB is a schema-less database, which means the database can manage data without the need for a blueprint. Document. Data in MongoDB is stored in documents with key-value pairs instead of rows and columns, which makes the data more flexible when compared to SQL databases.

### Q2. State and Explain the features of MongoDB.

### Answer - 2

### MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL).

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

### Answer - 3

In [1]:
import pymongo
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://pranjal:pranjal@database1.lcv8h5t.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
database = client["pranbha1"]

In [3]:
coll_create = database["Second_Record"]

### Q4. Using the database and the collection created in question number 3, write a code to insert one record,
### and insert many records. Use the find() and find_one() methods to print the inserted record.

### Answer - 4

In [4]:
data1 = {"name" : "hello", "course" : "Data Science"}

In [5]:
coll_create.insert_one(data1)

In [6]:
data2 = [{"_id" : "1", "Course" : "Data Science"},
        {"_id" : "2", "Course" : "Web Davelopment"},
        {"_id" : "3", "Course" : "DSA"}]

In [7]:
coll_create.insert_many(data2)

In [9]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64a5673cea4225a2b470a028'), 'name': 'hello', 'course': 'Data Science'}
{'_id': '1', 'Course': 'Data Science'}
{'_id': '2', 'Course': 'Web Davelopment'}
{'_id': '3', 'Course': 'DSA'}

In [10]:
coll_create.find_one()

{'_id': ObjectId('64a5673cea4225a2b470a028'),
 'name': 'hello',
 'course': 'Data Science'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
### demonstrate this.

### Answer - 5

In [12]:
for i in coll_create.find({"_id" : "2"}):
    print(i)

{'_id': '2', 'Course': 'Web Davelopment'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

### Answer - 6

### The sort() method consists of two basic building blocks. These building blocks are fields to be sorted and the sort order. The sorting order in MongoDB is defined by either a one (1) or a minus (-1). Here the positive one represents the ascending order, while the negative one represents the descending order.

In [18]:
data3 = [{"name" : "john", "age" : 19},
        {"name" : "Harry", "age" : 18}]
coll_create.insert_many(data3)

In [26]:
result = coll_create.find().sort("age" , 1)
for i in result:
    print(i)

{'_id': ObjectId('64a5673cea4225a2b470a028'), 'name': 'hello', 'course': 'Data Science'}
{'_id': '1', 'Course': 'Data Science'}
{'_id': '2', 'Course': 'Web Davelopment'}
{'_id': '3', 'Course': 'DSA'}
{'_id': ObjectId('64a56aa9ea4225a2b470a02a'), 'name': 'Harry', 'age': 18}
{'_id': ObjectId('64a56aa9ea4225a2b470a029'), 'name': 'john', 'age': 19}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

### Answer - 7

### In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted. 
### Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().
### drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.