## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = [1,2,3,4,5]
ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
li = [1, 2, 3, 4, 5, 6, 7, 8]
ser = pd.Series(li)
print(ser)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
li = [{"Name":"Alice", "Age":25, "Gender":"Female"}, {"Name":"Bob", "Age":30, "Gender":"Male"}, {"Name":"Claire", "Age":27, "Gender":"Female"}]
df=pd.DataFrame(li)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns that can be of different types. It is similar to a table or a spreadsheet in which data is organized in rows and columns. Each column in a DataFrame is a Pandas Series.

A Series is a one-dimensional labeled array in Pandas. It can be thought of as a single column of a DataFrame. Essentially, a DataFrame is a collection of Series where each Series represents a column.

In [6]:
ser = pd.Series([10, 20, 30, 40], name='Column_A')
df = pd.DataFrame({'Column_A': [10, 20, 30, 40]})
print("Pandas Series:")
print(ser)
print("\nDataFrame:")
print(df)

Pandas Series:
0    10
1    20
2    30
3    40
Name: Column_A, dtype: int64

DataFrame:
   Column_A
0        10
1        20
2        30
3        40

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

head() and tail(): These functions allow you to view the first or last N rows of a DataFrame.

In [8]:
df.head(3)
df.tail(3)

   Column_A
1        20
2        30
3        40

describe(): Provides summary statistics of the DataFrame, such as mean, standard deviation, and quartiles.

In [9]:
df.describe()

        Column_A
count   4.000000
mean   25.000000
std    12.909944
min    10.000000
25%    17.500000
50%    25.000000
75%    32.500000
max    40.000000

info(): Gives a concise summary of the DataFrame, including data types and missing values.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column_A  4 non-null      int64
dtypes: int64(1)
memory usage: 160.0 bytes

shape: Returns the dimensions (rows, columns) of the DataFrame.

In [11]:
df.shape

(4, 1)

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, a Series is mutable, while a DataFrame and a Panel are both mutable and can be modified after creation.

- **Series: A Pandas Series is mutable, meaning you can modify its elements after it has been created. You can change values, add or remove elements, and perform other operations that alter the Series.

- **DataFrame: Similar to a Series, a Pandas DataFrame is mutable. You can modify its content, add or remove columns, and perform various operations to manipulate the data.

- **Panel: The Panel is a three-dimensional data structure in Pandas, but it has been deprecated since version 0.25.0, and it's recommended to use MultiIndex DataFrames instead. In any case, like DataFrames, Panels are also mutable.

Keep in mind that when you modify a mutable object in Pandas, you might need to use the `inplace` parameter or assign the result to a new variable to reflect the changes.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [12]:
name = pd.Series(['Alice', 'Bob', 'Charlie', 'David'], name='Name')
age = pd.Series([25, 30, 35, 28], name='Age')
salary = pd.Series([50000, 60000, 75000, 48000], name='Salary')
df = pd.DataFrame({
    'Name': name,
    'Age': age,
    'Salary': salary
})
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000
3    David   28   48000